.glavniKontejner
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.glavniDivZaPrevoz
{
    display: flex;
    flex-direction: column;
    flex: 0 0 400px;
    border: 1px solid black;
    border-radius: 10px;
    /* max-width: 30%; */
    padding: 10px;
}

.leviPrikaz
{
    display: flex;
    flex-direction: column;
    flex: 0 0 400px;
    margin-bottom: 10px;
}

.nazivPrevoza
{
    text-align: center;
}

.divZaSlikuVozila
{
    border: 1px solid black;
    max-width: 50%;
    text-align: center;
    margin: auto;
}

.slikaVozila
{
    max-width: 70%;
    text-align: center;
}

.cenaVozila
{
    text-align: center;
}

.zaradaFirmeVozila
{
    text-align: center;
}

.divZaDugmeIsporuke     
{
    text-align: center;
}

.red {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.labelaZaRed
{
    width: 250px;
}

.nazivKlaseZajednicka {
    width: 100%;
}

.divZaDugmePronadji
{
   text-align: center; 
   margin-top: 20px;
   width: 100%;
}

.dugmeZaPronalazak
{
    padding: 5px;
    width: 100%;
}

.desniPrikaz 
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15px;
}
